.navbar-brand {
    margin: 0 0 0 50px;
}

.nav-item {
    margin: 0 35px 0 0px;
}

.home-page {
    background-image: url("body.jpg");
    background-repeat: no-repeat;
    background-size: 1300px 1100px;
    height: 100vh;

}

.inline-block {
    display: block;
    color: white;
    font-size: 90px;
    width: 50%;
    justify-content: flex-start;
    margin-top: 90px;
    margin-left: 50px;
}

@media screen and (min-width: 375px) and (max-width: 516px)  {
    inline-block {
        display: block;
        width: 100%;
        margin-top: 180px;
        font-size: 50px;
    }
  }

